<div x-data="{ modalEditModulo: true }" @grade-atualizada.camel.window="modalEditModulo = false">
    <dialog class="modal backdrop-blur-sm"
            :class="{'modal-open': modalEditModulo}"
            @keydown.window.escape="modalEditModulo = false">
        
        <div class="modal-box">
            <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" @click="modalEditModulo = false">
                ✕
            </button>
        
            <form id="form-edit-modulo" hx-post="{% url 'edit_module' modulo.id %}">
                {% csrf_token %}

                <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-6 flex flex-col gap-4 mt-4">
                    <legend class="fieldset-legend text-lg font-bold">Editar Módulo</legend>

                    <label class="form-control w-full">
                        <div class="label"><span class="label-text font-medium">Título do Módulo</span></div>
                        
                        <input type="text" name="titulo" class="input input-bordered w-full" value="{{ modulo.title }}" required>
                    </label>

                    <div class="modal-action mt-6">
                        <button type="button" class="btn btn-ghost" @click="modalEditModulo = false">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    </div>

                </fieldset>
            </form>
        </div> 
    </dialog>
</div>