{% extends 'base.html' %}

{% block title %}Esqueci minha senha{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-base-200">
    <div class="flex flex-col items-center justify-center gap-6 w-full max-w-md p-4">
        <h1 class="text-4xl font-bold text-base-content text-center">Recuperar Senha</h1>

        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
            <div class="card-body">
                <form hx-post="{% url 'forgot_password' %}" hx-swap="innerHTML">
                    {% csrf_token %}
                    <fieldset class="fieldset">
                        <label class="fieldset-legend text-base-content">Email</label>
                        <input type="email" name="email" class="input validator text-base-content" placeholder="Email"
                            required />
                        <div class="validator-hint hidden text-base-content">Por favor, insira um e-mail válido</div>
                        <button type="submit" class="btn btn-success mt-4">Enviar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}